<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asiakasrekisteri</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Asiakasrekisteri</h1>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flask{{ category }}">{{ messages }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}

    </div>
</body>
</html>